*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: futura;
    }


    body {
    background-color:#92BFB1;
    }

    h1 {
        font-family: futura;
        font-weight: lighter;
        padding: 3% 3%;
        font-size: 3vw;
    }

    nav{
    padding: 2% 0;
    }
    ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
    a{
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0% 3%;
    font-size: 2vw;
    text-decoration: none;
    }
    .logogif {
    width: 12%;
    margin: auto;
    }

    /* Hero picture sektion */

    .bigpic {
width: 100%;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    /* my work */ 
    .parallax__flex {
        display: flex;
      }
      .parallax__image {
        width: 60%;
        overflow: hidden;
      }
      .parallax__image img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }
      .parallax__body {
        width: 40%;
        padding: 60px;
        background: #92BFB1;
      }
      .parallax__title {
        font-size: 2.0vw;
        font-family: futura;
        font-weight: lighter;
        margin-bottom: 30px;
      }
      .parallax__text {
        font-size: 1.2vw;
        font-family: futura;
        font-weight: lighter;
        letter-spacing: 0.1vw;

      }
      @media (max-width: 991.98px) {
        .parallax__flex {
          flex-direction: column;
        }
        .parallax__image {
          width: 100%;
        }
        .parallax__body {
          width: 100%;
        }
    }