*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  scroll-behavior: smooth;
    }


    body {
    background-color:#a37474;
    }

    h1 {
        font-family: futura;
        font-weight: lighter;
        padding: 3% 3%;
        font-size: 5vw;
        text-align: center;
    }
hr {
    border-top: 1px solid #fff;
}
    header {
display: flex;
justify-content: space-between;
margin: auto;

    }
/* navigation */ 

    nav{
    padding: 3% 3%;
    transition: transform .2s;
    }
    nav a :hover{
      transform: scale(1.2);
      }

    ul{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

    a{
  width: 100%;
    list-style-type: none;
    align-items: center;
    margin: 1% 3%;
    font-size: 2.3vw;
    font-family: futura;
    text-decoration: none;
    margin-left: 14%;
    }
    .logogif {
    width: 12%;
    }
     /* Hero picture sektion */
        /* heropic */

   
/* typewriter */
#heropicture img {
  width: 100%;
  position: relative;
}
    .container {
  position:relative ;
      justify-content: center;
      align-items: center;
    }
    .container p {
      font-size: 2vw;
      padding: 0.5rem;
      font-weight: lighter;
      letter-spacing: 0.1rem;
      text-align: center;
      overflow: hidden;
      font-family: futura;
      position:absolute ; 
      top: 10%;
      left: 5%;

    }
    .container p span.typed-text {
      font-weight: normal;
      color:#a37474;
    }
    .container p span.cursor {
      display: inline-block;
      background-color: #ccc;
      margin-left: 0.1rem;
      width: 3px;
      animation: blink 1s infinite;
    }
    .container p span.cursor.typing {
      animation: none;
    }
    @keyframes blink {
      0%  { background-color: #ccc; }
      49% { background-color: #ccc; }
      50% { background-color: transparent; }
      99% { background-color: transparent; }
      100%  { background-color: #ccc; }
    }



/*pil ned */ 

/* pil op */ 

    /* my work */ 

.flex {
  display: flex;
}
  .gifs {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .body {
    width: 100%;
    background:#a37474;
    padding: 5%;
  
  }
  .title {
    font-size: 4vw;
    margin-bottom: 5%;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    color:fff;
  }
  .text {
    font-size: 1.7vw;
    line-height: 3vw;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
  margin-bottom: 7%;
  }

  .ikon  {
    width: 20%;
    margin-right: 4%;
}

  .overskrift1 {
    font-size: 2.8vw;
    margin-bottom: 7%;
    margin-top: 4%;
    font-family: 'Raleway', sans-serif;
    color:fff;

  }
/* about */ 

.slideshow-container img {
width: 30%;
padding-left: 5%;

}

/* Slideshow container */
.slideshow-container {
  position: relative;
  font-family: futura;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;

}

.flexboxen p {
  position: absolute;
  padding-left: 39%;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 1.4vw;
  padding: 1% 6%;
  position: absolute;
  top: 0;
}
.kreativ {
font-size: 1.5vw;
 padding: 1% 12%;
}

/* The /bullets/indicators */
.dots {
  position: absolute;
  padding-left: 12%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color:#b2b2b2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* flex-box med tekst/bulletpoints om mig */


  /* skill */ 

  
 /* contact */

 #contact {
   background-color: #C6A9A9;
   width: 100%;
   margin: auto;
 }

footer {
display: flex;
align-items: center;
}

 #mail{
   width: 8%;
   margin-top: 5%;

 }
 #phone{
  width: 5%;
  margin-top: 5%;

 }
  
 #linkedin {
  width: 6%;
  margin-top: 5%;


 }
 #facebook {
  width: 7%;
  margin-top: 5%;

 }

 
 #insta {
  width: 6%;
  margin-top: 5%;

 }

 @media all and (max-width: 599px) {

      /* slideshow */

    /*Dette påvirker dropdown i mobilversionen, da hover ikke virker med fingeren, så nu er det hele foldet ud, border er fjernet og skriften er mindre.*/
    #main-nav .dropdown-content a {
      font-size: 0.9em;
      border: none;
  }

  .slideshow-container {

      padding: 5%;
  }
  .numbertext {
    padding: 6% 6%;
  }

  .dots {
    padding-left: 10%;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}