*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  scroll-behavior: smooth;
    }


    body {
    background-color:#fff;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        padding: 1% 3%;
        font-size: 5vw;
        text-align: center;
    }

    header {
display: flex;
justify-content: space-between;
margin: auto;

    }

    .overskrifterne {
      color: #c6a9a9;
    }
/* navigation */ 

    nav{
    padding: 3% 3%;
    transition: transform .2s;
    }
    nav a :hover{
      transform: scale(1.2);
      color: #a37474;
      font-weight: 600;
      }

    ul{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

    a{
  width: 100%;
    list-style-type: none;
    color: #c6a9a9;
    align-items: center;
    margin: 1% 3%;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-left: 14%;
    }
    .logogif {
    width: 10vw;
    }

     /* Hero picture sektion */
    
        /* heropic */
        .heropic {
          width: 100%;
        }

   
/* typewriter */
#heropicture img {
  width: 100%;
  position: relative;
}
    .container {
  position:relative ;
      justify-content: center;
      align-items: center;
    }
    .container .mitnavn {
      position: absolute;
      top: 29%;
      font-family:'Poppins', sans-serif;
      left: 55%;
      color: #a37474; 
      font-size: 4.5vw;
    }

    .container p {
      font-size: 2vw;
      padding: 0.5rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-align: center;
      overflow: hidden;
      color: #b69191;
      font-family: 'Raleway', sans-serif;
      position:absolute ; 
      top: 40%;
      left: 58%;
      line-height: 3vw;

    }
    .container p span.typed-text {
      font-weight: bold;
      color:#a37474;
    }
    .container p span.cursor {
      display: inline-block;
      background-color: #ccc;
      margin-left: 0.1rem;
      width: 3px;
      animation: blink 1s infinite;
    }
    .container p span.cursor.typing {
      animation: none;
    }
    @keyframes blink {
      0%  { background-color: #ccc; }
      49% { background-color: #ccc; }
      50% { background-color: transparent; }
      99% { background-color: transparent; }
      100%  { background-color: #ccc; }
    }

    /* my work */ 

.flex {
  display: flex;

}
  .gifs {
    width: 30%;
    margin: auto;
    overflow: hidden;
  
  }

  .body {
    width: 50%;
    background:#c6a9a9;
    padding: 2%;
    margin: 5%;
  }
  .title {
    font-size: 4vw;
    margin-bottom: 5%;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    color:#fff;
  }
  .text {
    font-size: 1.7vw;
    line-height: 3vw;
    font-weight: lighter;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  margin-bottom: 7%;
  }

  .ikon  {
    width: 20%;
    margin-right: 2%;
}

  .overskrift1 {
    font-size: 2.8vw;
    margin-bottom: 7%;
    margin-top: 4%;
    font-family: 'Raleway', sans-serif;
    color:fff;

  }
/* about */ 
.flexboks {

  position: relative;
  padding-bottom: 17%;
margin: 5%;
  background-color: #c6a9a9;
}

.body1{
 position: absolute;
 padding-left: 45% ;
 padding-top: 5%
 
}

ul.c {

  list-style-type: circle;
  font-size: 2.5vw;
color: #fff;
padding-left: 5%;
  flex-direction: column;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-weight: lighter;
  font-size: 4vw;
}

.slideshow-container img {
width: 40%;
padding-left: 5%;
padding-top: 3%;
}


#cv {
  width: 25%;
  margin: 3%;
}

.mitcv {
transition: transform .2s;
}

.mitcv a :hover {
  transform: scale(1.2);
}

.mitcv p {
  color:#7A5252;
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  font-family: futura;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 4vw;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 1.4vw;
  padding: 4% 6%;
  position: absolute;
  top: 0;
}

/* The /bullets/indicators */
.dots {
  position: absolute;
  padding-left: 17%;

}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color:#7A5252;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* flex-box med tekst/bulletpoints om mig */

  /* services */ 
  .flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .flex-container > div {
    width: 100%;
    background-color: #C6A9A9;
    padding: 5%;
    margin: 2%;
    z-index: -100;
    
  }
  ul.a {
    list-style-type: circle;
    font-size: 2.5vw;
 color: #fff;
 line-height: 4vw;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
  }
.kode {
  position: relative;
    width: 23%;
  }
  .codeikon {
    width: 70%;
      position: absolute;
      opacity: 28%;
      z-index: -50;
      padding-left: 2%;
    }

  .design {
    position: relative;
    width: 24%;
  }
  
  .designikon {
      width: 90%;
      position: absolute;
      opacity: 38%;
      z-index: -50;
      padding-left: 5%;
    }
    
  .strategi {
    position: relative;
    width: 23%;
  }
  
  .strategiikon {
      width: 90%;
      position: absolute;
      opacity: 38%;
      z-index: -50;
      margin: -30% 3%;

    }

  .heading1 {
    font-size: 4vw;
    padding-top: 5%;
    color: #fff;
  margin-left: 1%;
position: absolute;
  }

  .heading2 {
    font-size: 4vw;
    padding-top: 5%;
    color: #fff;
    margin-left: 35%;
 position: absolute;
   }

   .heading3 {
    font-size: 4vw;
    padding-top: 5%;
    color: #fff;
    margin-left: 68%;
 position: absolute;
   }
 

 /* contact */
 
 #contact {
  background-color: #c6a9a9;
  left: 0;
  bottom: 0;
  color: #fff;
 }
 .overskrift {
   text-align: center;
   padding: 3%;
 }
 footer {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
 width: 100%;
 display: flex;
font-size: 2.9vw;
 flex-direction: row;
 justify-content: space-around;
margin-top: 1.5%;
  transition: transform .2s;
  }


  footer a :hover{
    transform: scale(1.2);
    color: #7A5252;
  }

.box1{
display: flex;
 flex-direction: column;
}

footer img {
 width: 12%;
 padding-bottom: 10%;
}
#mail{
 width: 23%; 
}

#phone{
  width: 14%; 
 }

 @media all and (max-width: 960px) {

  .body {
    width: 100%;
    background:#c6a9a9;
    padding: 5%;
    margin: 5%;
  }
  .gifs {
    width: 90%;
    padding: 2% 1%;
    overflow: hidden;
  }
  }
 @media all and (max-width: 599px) {

      /* slideshow */

    /*Dette påvirker dropdown i mobilversionen, da hover ikke virker med fingeren, så nu er det hele foldet ud, border er fjernet og skriften er mindre.*/
    #main-nav .dropdown-content a {
      font-size: 0.9em;
      border: none;
  }

  .slideshow-container {

      padding: 5%;
  }
  .numbertext {
    padding: 9% 6%;
  }

  .dots {
    padding-left: 13%;
  }
  .dot {
    height: 10px;
    width: 10px;
  }

  .body {

    background:#c6a9a9;
    padding: 4%;
    margin: 5%;
  }
  .gifs {
    width: 90%;
    padding: 2% 1%;
    overflow: hidden;
  }
}