*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  scroll-behavior: smooth;
    }


    body {
    background-color:#fff;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        padding: 1% 3%;
          font-size:1.7;
        text-align: center;
    }

    header {
display: flex;
justify-content: space-between;
margin: auto;

    }

    .overskrifterne {
      color: #c6a9a9;
      font-size: 1.7rem;
    }
/* navigation */ 

    nav{
    padding: 3% 3%;
    transition: transform .2s;
    }
    nav a:hover{
      transform: scale(1.2);
      color: #a37474;
      font-weight: 600;
      }

    ul{
    
    display: flex;
    flex-direction: row;
    list-style: none;
 
    }

    a{
  width: 100%;
    list-style-type: none;
    color: #c6a9a9;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding-left: 1.5rem;
 

    }
    .logogif {
    width: 12%;
    display: block;
    }

    .logo2 {
      width: 17%;
    }

     /* Hero picture sektion */
    
        /* heropic */
        .heropic {
          width: 100%;
        }

   
/* typewriter */
#heropicture img {
  width: 100%;
  position: relative;
}
    .container {
  position:relative ;
      justify-content: center;
      align-items: center;
    }
    .container .mitnavn {
      position: absolute;
      top: 29%;
      font-family:'Poppins', sans-serif;
      left: 54%;
      color: #a37474; 
      font-size: 1.1rem;
    }
  
    .container p {
      font-size: 0.6rem;
      padding: 0.5rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-align: center;
      overflow: hidden;
      color: #b69191;
      font-family: 'Raleway', sans-serif;
      position:absolute ; 
      top: 40%;
      left: 58%;
      line-height: 1rem;
    }
    .container p span.typed-text {
      font-weight: bold;
      color:#a37474;
    }
    .container p span.cursor {
      display: inline-block;
      background-color: #ccc;
      margin-left: 0.1rem;
      width: 3px;
      animation: blink 1s infinite;
    }
    .container p span.cursor.typing {
      animation: none;
    }
    @keyframes blink {
      0%  { background-color: #ccc; }
      49% { background-color: #ccc; }
      50% { background-color: transparent; }
      99% { background-color: transparent; }
      100%  { background-color: #ccc; }
    }

    /* my work */ 

.flex {
  display: flex;

}
  .gifs {
    width: 30%;
    margin: auto;
    overflow: hidden;
  
  }

  .body {
    width: 50%;
    background:#c6a9a9;
    padding: 2%;
    margin: 3%;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 5%;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    color:#fff;
  }
  .text {
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-weight: lighter;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  margin-bottom: 7%;
  }

  .ikon  {
    width: 20%;
    margin-right: 2%;
}

/* about */ 
.flexboks {

  position: relative;
  padding-bottom: 30%;
margin: 3%;
  background-color: #c6a9a9;
}

.body1{
 position: absolute;
 padding-left: 45%;
 padding-top: 5%;

 
}

ul.c {

  list-style-type: circle;
  font-size: 1rem;
color: #fff;
padding-left: 5%;
  flex-direction: column;
  font-weight: lighter;
  line-height: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-weight: lighter;
  font-size: 2rem;
}

.slideshow-container img {
width: 40%;
padding-left: 5%;
padding-top: 3%;
}


#cv {

  width: 25%;
  margin: 6%;

}

.mitcv {
  transition: transform .2s;
  }
  
  .mitcv img:hover {
    transform: scale(1.2);
  }

.mitcv p {
font-weight: lighter;
line-height: 1rem;
font-family: 'Raleway', sans-serif;
  color:#7A5252;
  padding-left: 5%;
  font-size: 1rem;
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  font-family: futura;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 1rem;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 0.7rem;
  padding: 4% 6%;
  position: absolute;
  top: 0;
}

/* The /bullets/indicators */
.dots {
  position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color:#7A5252;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* flex-box med tekst/bulletpoints om mig */

  /* services */ 
  .flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .flex-container > div {
    width: 100%;
    background-color: #C6A9A9;
    padding: 5%;
    margin: 2%;
    z-index: -100;
    
  }
  ul.a {
    list-style-type: circle;
    font-size: 0.7rem;
 color: #fff;
 line-height: 1rem;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
  }
.kode {
  position: relative;
    width: 23%;
  }
  .codeikon {
    width: 70%;
      position: absolute;
      opacity: 28%;
      z-index: -50;
      margin: 3%;
      top: 29%;
    }

  .design {
    position: relative;
    width: 24%;
  }
  
  .designikon {
      width: 90%;
      position: absolute;
      opacity: 38%;
      z-index: -50;
      margin: 3%;
    }
    
  .strategi {
    position: relative;
    width: 23%;
  }
  
  .strategiikon {
      width: 90%;
      position: absolute;
      opacity: 38%;
      margin: 3%;
top: 25%
    }

  .heading1 {
    font-size: 1rem;
    padding-top: 2%;
    color: #fff;
  margin-left: 1%;
position: absolute;
  }

  .heading2 {
    font-size: 1rem;
    padding-top: 2%;
    color: #fff;
    margin-left: 35%;
 position: absolute;
   }

   .heading3 {
    font-size: 1rem;
    padding-top: 2%;
    color: #fff;
    margin-left: 68%;
 position: absolute;
   }
 

 /* contact */
 
 #contact {
  background-color: #c6a9a9;
  left: 0;
  bottom: 0;
  color: #fff;
 }
 .overskrift {
   text-align: center;
   padding: 3%;
 }
 footer {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
 width: 100%;
 display: flex;
font-size: 1rem;
 flex-direction: row;
 justify-content: space-around;
margin-top: 1.5%;
transition: transform .2s;
  }

  footer a :hover{
    transform: scale(1.2);
  }

.box1{
display: flex;
 flex-direction: column;
}

footer img {
 width: 12%;
 padding-bottom: 10%;
}
#mail{
 width: 23%; 
}

#phone{
  width: 14%; 
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav a{
    font-size: 1rem;
    }
    
    .container .mitnavn {
     
      font-size: 1rem;
    }
    .logogif {
      display: none;
    }
    .logo2 {
      display: block;
    }

    .container p {
      font-size: 0.7rem;
    }
    .text {
      font-size: 0.7rem;
      line-height: 1rem;
    }
    .title {
      font-size:1.2rem
    }
    .overskrifterne {
      font-size: 1.6rem;
    }
       /*servies */
   ul.a {
    font-size: 0.6rem;
    line-height: 0.8rem;
   }
   .heading1
   {
    font-size: 0.8rem; 
   }
   .heading2
   {
    font-size: 0.8rem; 
   }
   .heading3
   {
    font-size: 0.8rem;  
   }
   .overskrift{
    font-size: 1.6rem;
    }

    .gifs {
      width: 50%;
    }

    .body {
      width:50%;
    }
    ul.c {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    .mitcv p {
      font-size: 0.8rem;
    }
    h4 {
      font-size:1.2rem;
    }
    .dot {
      height: 8px;
      width: 8px;
    }

    .dots {
      margin-left: 10%;
    }
    
}

 /* Small devices (portrait tablets and large phones, 600px and up) */

 @media only screen and (min-width: 600px) {

  /* slideshow */

nav a{
font-size: 1.2rem;
}

.container .mitnavn {
 
  font-size: 1.6rem;
}
.container p {
  font-size: 1rem;
  line-height: 1.4rem;

}
.text {
  font-size: 1rem;
  line-height: 1.4rem;
}
.title {
  font-size:1.8rem
}

  .logogif {
    display: none;
  }
  .logo2 {
    display: block;
  }

  .overskrifterne {
    font-size: 2.2rem;
  }
   /*servies */
   ul.a {
    font-size: 0.9rem;
    line-height: 1rem;
   }
   .heading1
   {
    font-size: 1.2rem; 
   }
   .heading2
   {
    font-size: 1.2rem; 
   }
   .heading3
   {
    font-size: 1.2rem; 
   }
   .overskrift{
    font-size: 2.2rem;
    }
    ul.c {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  
    h3 {
      font-size: 1.7rem;
    }
  
    .mitcv p {
      font-size: 1.1rem;
    }
    h4 {
      font-size:1.6rem;
    }
    .dot {
      height: 10px;
      width: 10px;
    }

    .dots {
      margin-left: 13%;
    }
 
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav a{
    font-size: 1.6rem;
    }
    
    .container .mitnavn {
     
      font-size: 2.1rem;
    }
    .container p {
      font-size: 1.3rem;
      line-height: 1.6rem;
    }    

  .logogif {
    display: block;
  }

  .logo2 {
    display: none;
  }
  .text {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .title {
    font-size:2rem;
  }
  .overskrifterne {
    font-size: 2.5rem;
  }

  /*servies */
  ul.a {
   font-size: 1rem;
   line-height: 1.4rem;
  }
  .heading1
  {
   font-size: 1.6rem; 
  }
  .heading2
  {
   font-size: 1.6rem; 
  }
  .heading3
  {
   font-size: 1.6rem; 
  }
  .overskrift{
  font-size: 2.5rem;
  }
  ul.c {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  .mitcv p {
    font-size: 1.5rem;
  }
  h4 {
    font-size:2rem;
  }
  .dot {
    height: 14px;
    width: 14px;
  }

  .dots {
    margin-left: 13%;
  }

}

/* large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  nav a{
    font-size: 2.3rem;
    }
    
    .container .mitnavn {
     
      font-size: 3.1rem;
    }
    .container p {
      font-size: 2rem;
      line-height: 2.4rem;
    
    }   
  .logogif {
    display: block;
  }
  .logo2 {
    display: none;
  }

  .text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .title {
    font-size:3rem
  }

  .overskrifterne {
    font-size: 3.3rem;
  }
    /*servies */
    ul.a {
      font-size: 1.5rem;
      line-height: 2rem;
     }
     .heading1
     {
      font-size: 2rem; 
     }
     .heading2
     {
      font-size: 2rem; 
     }
     .heading3
     {
      font-size: 2rem; 
     }
     .overskrift {
      font-size: 3.3rem;
     }

     ul.c {
      font-size: 2rem;
      line-height: 3rem;
    }

    h3 {
      font-size: 3rem;
    }

    .mitcv p {
      font-size: 1.8rem;
    }
  
  h4 {
    font-size:2.2rem;
  }
  .dot {
    height: 18px;
    width: 18px;
  }

  .dots {
    margin-left: 15%;
  }
}